= append(:body_class){ ' home ' }

-# Home header
%section.search-section-wrapper

  .white-navigation
    = render partial: "common/public_navigation"

  .container
    .row.search-container
      .search-slogan-container.text-color-white.col-lg-12
        %h1.slogan
          Simplifica tu vida
          =image_tag("aliada-shine.png", :class => 'shine')
        %p.motto
          Limpiamos tu hogar

      .search-form-container.col-lg-12
        %legend
          Pide una profesional de la limpieza en menos de un minuto desde $65/hr.
        .action-button-container
          - if user_signed_in?
            = link_to new_service_users_path(@user), {class: ' action-button size-extra-large'} do
              Pide otra aliada
          - else
            = link_to initial_service_path, {class: ' action-button size-extra-large'} do
              Solicita tu primer aliada


%section.media-section-wrapper
  .container
    .row
      .media-section-container.col-lg-12
        .media-logo
          =image_tag("media_logos/chilango-logo.png", :title => 'Chilango')
        .media-logo
          =image_tag("media_logos/reforma-logo.png", :title => 'Reforma')
        .media-logo
          =image_tag("media_logos/cnnexpansion-logo.png", :title => 'Cnn Expansión')
        .media-logo
          =image_tag("media_logos/ibero909-logo.png", :title => 'Ibero 90.9')

%section.steps-section-wrapper
  .container
    .row
      .steps-section-container.col-lg-12
        %h3
          Es muy sencillo
        .col-lg-4.step
          =image_tag("paso-1.png", :title => 'Recibe la misma aliada en las visitas recurrentes')
          %p.why-description 
            %h2
              Pide
            En menos de un minuto pide una Aliada. 
            %br
            Dinos dónde estás y a qué hora necesitas el servicio.

        .col-lg-4.step
          =image_tag("paso-2.png", :title => 'Recibe la misma aliada en las visitas recurrentes')
          %p.why-description 
            %h2
              Recibe
            Una Aliada llegará puntualmente a tu casa.
            %br
            Dejará todo limpio y reluciente


        .col-lg-4.step
          =image_tag("paso-3.png", :title => 'Recibe la misma aliada en las visitas recurrentes')
          %p.why-description 
            %h2
              Relájate
            El cobro se hará hasta que esté todo como a ti te gusta.
              
    .row
      .call-to-action-wrapper
        = link_to initial_service_path, {class: 'action-button-pink size-extra-large'} do
          Pide una aliada


%section.feliciana-section-wrapper
  .container
    .feliciana-section-container.col-lg6
      .left
        = image_tag("feliciana.png", :title => 'Feliciana, +10 años de experiencia limpiando hogares.')
      .benefits.right
        %h2
          Nosotros garantizamos
          %br
          que la aliada siempre será:
        %ul.summary
          %li.checked Profesional y capacitada
          %li.checked Investigada con referencias validadas
          %li.checked Entrevistada en persona
          %li.checked Capacitada bajo el proceso estricto de aliada
          %li.checked Califacada de manera positiva por otros clientes


%section.why-section-wrapper
  .container
    .row
      .why-section-container.col-lg-12
        %h3.why-section-title ¿Por qué utilizar aliada?
        .col-lg-4
          =image_tag("why-1.png", :title => 'Recibe la misma aliada en las visitas recurrentes')
          %p.why-description Recibe la misma aliada en las visitas recurrentes
        .col-lg-4
          =image_tag("why-2.png", :title => 'Sin contratos ni cuotas de administración')
          %p.why-description Sin contratos ni cuotas de administración
        .col-lg-4
          =image_tag("why-3.png", :title => 'El pago en línea es muy fácil, con los estándares más altos de seguridad')
          %p.why-description El pago en línea es muy fácil, con los estándares más altos de seguridad

        .clearfix

        .col-lg-4
          =image_tag("why-4.png", :title => 'Recibe la misma aliada en las visitas recurrentes')
          %p.why-description Solo paga las horas utilizadas
        .col-lg-4
          =image_tag("why-5.png", :title => 'Recibe la misma aliada en las visitas recurrentes')
          %p.why-description Atención telefónica los 7 días de la semana
        .col-lg-4
          =image_tag("why-6.png", :title => 'Recibe la misma aliada en las visitas recurrentes')
          %p.why-description Ayuda a que todas las aliadas mejore su calidad de vida

%section.warranty-section-wrapper
  .container
    .row
      .warranty-section-container.col-lg-12
        =image_tag("warranty-logo.png", {:title => 'Garantía Aliada', :class => 'warranty-logo'})
        %p.warranty-description Tu hogar quedará impecable o te devolvemos tu dinero


%section.service-section-wrapper
  .container
    .row
      .service-section-container.col-lg-12
        %h2.service-section-title ¿Qué servicios ofrecen las aliadas?
        %p.service-subtitle Las Aliadas son profesionales de la limpieza altamente capacitadas para solucionar todas las necesidades de tu hogar
        .col-lg-3
          =image_tag("service-1.png", :title => 'Sin contratos ni cuotas de administración')
          %p.service-description Habitaciones y áreas comunes
        .col-lg-3
          =image_tag("service-2.png", :title => 'Sin contratos ni cuotas de administración')
          %p.service-description Baños
        .col-lg-3
          =image_tag("service-3.png", :title => 'Sin contratos ni cuotas de administración')
          %p.service-description Cocina
        .col-lg-3
          =image_tag("service-4.png", :title => 'Sin contratos ni cuotas de administración')
          %p.service-description Lavado y planchado



%section.video-section-wrapper
  .container
    .row
      .video-section-container.col-lg-12


%section.payment-section-wrapper
  .container
    .row.call-to-action-wrapper
      .payment-description.col-lg-6
        %p 
          ¿Listo para programar tu visita?
      .call-to-action-container
        = link_to initial_service_path, {class: 'action-button-pink size-large'} do
          Pide una aliada
    .row
      .payment-description.col-lg-6
        %p Paga en línea de forma segura. <br> Sin dinero en efectivo, sin problemas.
      .payment-logos.col-lg-6
        =image_tag("payment-logos.png", {:title => 'Métodos de pago' })


= render partial: "common/footer"

= append :javascript do
  = javascript_include_tag 'home'
