// home.html.haml
%h2
  ¿Qué servicios ofrecen las aliadas?

%h3
  ¿Porqué utilizar Aliada? (home)

// services/edit.html.haml
%form.one-timer
  color: $green
  background-color: $green
  // Todos los demas elementos heredan color de este

// Login
%a.iconized.facebook
  Usa tus datos de Facebook

// _step_1_duration.html.haml
%h1
  Cuéntanos más de tu casa (duration)

%h4
  Dinos cuánto tiempo necesitas a la aliada (duration)

= select_tag 'horas', options_for_select( ['2.5 horas (55 m2)', '1'] )

%a.small-letters
  ¿No sabes los metros cuadrados? Dinos el número de recamaras

.counter
  text_field_tag 'cuartos'
  %span.plus-sign
  %span.less-sign

%fieldset.checkboxes.large
  = check_box_tag :service_extras_ids, 'Planchado', 1
  = check_box_tag :service_extras_ids, 'lavado', 1

// previous_services.html.haml

%table
  %tr
    %th
      Fecha
    %th
      Duración
    %th
      Aliada Asignada
    %th
      Pago
    %th
      Estimado
    %th
      Calificación
  %tr
    %td
      Jue, 4 de Agosto
    %td
      4 horas
    %td
      Aidé López
    %td
      -
    %td
      $200
    %td
      %form.service
        = radio_button_tag :service_aliada_entry, '', 1, class: 'full'
        = radio_button_tag :service_aliada_entry, '', 2, class: 'empty'

// _step_5_success.html.haml
%fieldset.radiobuttons.small
  = radio_button_tag :service_aliada_entry, 'Estaré en casa', 1
  = radio_button_tag :service_aliada_entry, 'Dejaré las llaves con el guardia', 2

%textarea.expandable{placeholder: 'Donde depositará la basura'}
  
// _step_3_visit_info.html.haml
%fieldset.radiobuttons.large
  = radio_button_tag :service_aliada_entry, 'Sólo una vez', 1
  = radio_button_tag :service_aliada_entry, 'Cada semana', 2

%fieldset.radiobuttons.medium
  = radio_button_tag :service_aliada_entry, '9:00', 1
  = radio_button_tag :service_aliada_entry, '10:00', 2

%button.call-to-action.large
  Siguiente

%p.small-letters
  Un mensaje en chiquito

// _step_4_payment.html.haml
%form.credit-card
  pendiente

.promotional-code
  %a
    APLICAR
  = text_field_tag 'promo-code', placeholder: 'código promocional'

// next_services.html.haml
%a.iconized.user
  Mi cuenta

%a.button.call-to-action.small
  Programar nueva visita

%a.button-medium.active
  Próximas visitas

%a.button-medium
  Historia de visitas

%a.button-medium.iconized.wand
  Historia de visitas

  // Green or purple
.service-card.one-time
.service-card.recurrent
  .head
    .badge
      Recurrente
      %icon.recurrent
    .title
      Todos los jueves
      .small-letters
        a partir del 23 de enero
  .body
    = render partial: 'common/summary'

  .foot
    %a.button.iconized.edit
      Modificar servicio
    .numbers
      %span.hours 4 horas
      %span.cash $65

.empty-card
  %a
    Programa una nueva visita

.credits
  %span.iconized.help
    Crédito
  %div.cash
    %100

// recurrences/index.html.haml

.header.recurrent
  .badge
    Recurrente
    %icon.recurrent
  .title
    Todos los jueves
    .small-letters
      apartir del 23 de enero
  .actions
    %a.action
      Modificar todas las visitas próximas
