%h2 Servicios por terminar
- @unfinished_services.each do |service|
  .service{id: "service_#{service.id}"}
    %h5
      En: 
      #{service.user.full_name}
      %h6= I18n.l service.tz_aware_datetime, format: "%A %e de %B a las %I %P"
      = form_tag((finish_service_path)) do
        %input{:type=>"hidden", :value=>service.id, :name => :service}
        %div
          Duracion horas:
          %select{:name => :hour}
            - (3..10).each do |h|
              %option{:value => h}= h
          minutos:
          %select{:name => :min}
            - (0..59).step(5).each do |m|
              %option{:value => m}= m 
          %input{  :type => "submit", :name => "Pay", :value => "Guardar :)" }
      %br
      %br

%h1 Servicios proximos    
- @upcoming_services.each do |service|
  %h1=  I18n.l service.tz_aware_datetime, format: "%A %e de %B  a las %I %P"
  %h4
    #{service.estimated_hours.floor} horas
    #{(60*(service.estimated_hours-service.estimated_hours.floor)).floor} minutos
  %h3 
    #{service.address.street} 
    #{service.address.number}
    interior:
    #{service.address.interior_number}
  %h4
    %b Colonia: 
    #{service.address.colony},
    #{service.address.city}
  %img{:src => "http://maps.googleapis.com/maps/api/staticmap?size=320x320&center=#{service.address.latitude},#{service.address.longitude}&zoom=#{service.address.map_zoom}&markers=#{service.address.latitude},#{service.address.longitude}&markers=color:blue%7Clabel:S%7C#{service.address.references_latitude},#{service.address.references_longitude}"}
  %h5= service.address.references 
  %h3 
    %b Cliente:
    #{service.user.first_name}
    #{service.user.last_name}
  %h5 
    %b tel: 
    #{service.user.phone}
  %h5 Entre calles: #{service.address.between_streets}
  %h5 Baños:  #{service.bathrooms}
  %h5 Cuartos:   #{service.bedrooms}
  - if !service.confirmed 
    = form_tag((confirm_service_path)) do
      %input{:type=>"hidden", :value=>service.id, :name => :service}
      %input.action-button-pink{  :type => "submit", :name => "confirmation", :value => "Si voy" }
  %br
  %br

