= render partial: 'aliadas/header'
= render partial: 'aliadas/tabs'

-if @services_to_finish.any?
  .section
    .section__header
      %h4 Servicios por terminar
    - @services_to_finish.each do |service|
      .service.service--yellow{id: "service_#{service.id}"}
        .service__head
          %h3.date
            = I18n.l service.tz_aware_datetime, format: "%A %e de %B a las %I %P"
          %h5.client
            = service.user.full_name
        .set-hours
          %p ¿Cuanto tiempo duro el servicio?
          = render partial: 'aliadas/hours_worked_service_form', locals: {service: service}

-if @worked_services.any?
  .section__header
    %h4 Servicios terminados
  - @worked_services.each do |service|
    .service.service--yellow{id: "service_#{service.id}"}
      .service__head
        %h3.date
          = I18n.l service.tz_aware_datetime, format: "%A %e de %B a las %I %P"
        %h5.client
          = service.user.full_name
      .set-hours
      = link_to edit_service_hours_worked_path(@aliada.authentication_token, service.id) do
        Editar servicio

= append :extra_head do
  = stylesheet_link_tag 'aliadas_dashboard', media: 'all'
