.header
  %h4.header__user
    = @aliada.full_name
  %p.header__hours
    Esta semana llevas #{ seconds_to_hours_minutes_in_spanish @aliada.current_week_hours_worked.hours }
  = link_to aliadas_services_path(@aliada.authentication_token) do
    ver próximos servicios

-if @services_to_finish.any?
  .section
    .section__header
      %h4 Servicios por terminar
    - @services_to_finish.each do |service|
      .service.service--yellow{id: "service_#{service.id}"}
        .service__head
          %h3.date
            = I18n.l service.tz_aware_datetime, format: "%A %e de %B a las %I %P"
          %h5.client
            = service.user.full_name
        .set-hours
          %p ¿Cuanto tiempo duro el servicio?
          = render partial: 'aliadas/hours_worked_service_form', locals: {service: service}

-if @worked_services.any?
  .section__header
    %h4 Servicios terminados
  - @worked_services.each do |service|
    .service.service--yellow{id: "service_#{service.id}"}
      .service__head
        %h3.date
          = I18n.l service.tz_aware_datetime, format: "%A %e de %B a las %I %P"
        %h5.client
          = service.user.full_name
      .set-hours
        %p ¿Cuanto tiempo duro el servicio?
        = render partial: 'aliadas/hours_worked_service_form', locals: {service: service}


= append :extra_head do
  = stylesheet_link_tag 'aliadas_dashboard', media: 'all'
