= append(:body_class){ ' next-services ' }

- @recurrences.each do |recurrence|
  .recurrence-header
    .head
      .small-letters
        Todos los #{ensure_plural(recurrence.weekday_in_spanish) }
        %div
          = I18n.l(recurrence.created_at, format: :future)
        %div
          Creada:
          = in_time_zone_formatted recurrence.created_at
        %div
          Actualizada:
          = in_time_zone_formatted recurrence.updated_at
        %div
          Status:
          = recurrence.status
        = recurrence.friendly_time
        con
        = recurrence.aliada.name


    %table.table-cards
      - recurrence.services_for_user.each do |service|
        = render partial: 'common/service_card', locals: { service: service }

