= form_for @user, url: users_path(@user), html: {method: "patch"} do |f|
  .actions
    = f.submit 'Save'

= form_tag create_conekta_card_users_path(@user) do
  = render partial: 'common/conekta_form', locals: {}
  .actions
    = submit_tag 'Guardar Tarjeta'
