
- services_count = @services.size
= append(:body_class){ ' next-services ' }

Último login del usuario
= @user.last_login

.cards
  - @services.each_with_index do |service,index|
    = render partial: 'common/service_card', locals: { service: service }

= append :javascript do
  = javascript_include_tag 'next_services'

