= append(:body_class){ ' previous-services ' }

.service_history.col-lg-12
  .service_history_header 
    \- HISTORIAL DE VISITAS -
  %div.table-responsive.service_history_table
    %table.table
      %thead
        %tr
          %th Fecha
          %th Duración 
          %th Aliada Asignada
          %th Estado
          %th Costo 
          %th Calificación
      %tbody
        - if @services.empty?
          %tr
            %td
              %p.center
                Aun no has recibido tu primer servicio :)

        - @services.each do |service|
          %tr{class: service.owed? ? 'warning' : '', id: "793_#{service.id}"  }
            %td
              = l service.tz_aware_datetime, format: :short
              - if current_user.admin?
                = service.tz_aware_datetime.weekday
            %td
              - if service.paid?
                = service.billed_hours
              - else
                - if service.finished?
                  = "#{ number_to_human service.billable_hours } hrs trabajadas"
                - else
                  = "#{ number_to_human service.estimated_hours } hrs estimadas"
            %td
              = "#{service.aliada.first_name} #{service.aliada.last_name}"
            %td{class: service.owed? ? 'warning' : ''  }
              = service.status_for_history
            %td
              = "$#{ service.cost }"

            %td.rating{class: service.finished? || service.paid? ? '' : 'disabled' }
              = form_tag score_service_users_path(@user, service), :id => "service_#{service.id}" do
                - ((5..1).first).downto((5..1).last).each do |i|
                  - if service.score_value && service.score_value >= i
                    = radio_button_tag :value, i, false, onclick: "submitRating(#{service.id}, #{i})", class: "checked"
                  - else
                    = radio_button_tag :value, i, false, onclick: "submitRating(#{service.id}, #{i})", class: "unchecked"
                  %span

                = hidden_field_tag :service_id, service.id

= append :javascript do
  = javascript_include_tag 'previous_services'
