%section.step_3_visit_info{data: {bind: 'visible: current_step() == 3'}, style: 'display: none'}
  %h1
    ¿Cuándo te visitamos?
  %p
    Elige la frecuencia de la visita

  = render partial: 'common/service_type_buttons', locals: { form: initial_service_form, promotional: true }

  %h4#choose-date
    %icon.icon-calendar
    Elige el día de la visita
  = render partial: 'common/calendar'

  %p.smallis-letters
    Si quieres reservar para más de un día al final podrás hacerlo.

  %h4#choose-time
    %icon.icon-clock
    Selecciona la hora que más te convenga

  = render partial: 'common/time_selector', locals: {form: initial_service_form}

  = initial_service_form.hidden_field :date, data: {bind: 'value: date'}
  = initial_service_form.hidden_field :time, data: {bind: 'value: time'}
