%section.step_2_personal_info{data: {bind: 'visible: current_step() == 2'}, style: 'display: none'}
  %h1
    Tus datos y dirección
  %h4
    ¿A dónde enviaremos tu Aliada?

  .fields
    .personal-info
      = initial_service_form.fields_for :user do |user_form|
        .field-row.email
          %icon.icon-user
          = user_form.text_field :email, placeholder: 'Correo electrónico', class: 'full-width', data: {bind: 'textInput: email, valueUpdate: "change"'}
        .field-row
          = user_form.text_field :first_name, placeholder: 'Nombres(s)', class: 'half-width', data: {bind: 'textInput: first_name'}
          = user_form.text_field :last_name, placeholder: 'Apellido(s)', class: 'half-width', data: {bind: 'textInput: last_name'}
        .field-row
          = user_form.text_field :phone, placeholder: 'Teléfono (10 digitos)', data: {bind: 'textInput: phone'}

    .address
      = initial_service_form.fields_for :address do |address_form|
        = render partial: 'addresses/form', locals: {address_form: address_form}

  %h4
    Si el PIN verde no indica la dirección, por favor arrástralo hasta la dirección correcta
  %p.map-instructions
    Con este mapa la aliada llegará a la dirección por favor verifica que está correcto.
  = render 'common/map'
