.messages-container
  - flash.each do |name, msg|
    - if msg.class == Array
      - msg.each do |message|
        .message.danger
          %span.icon-notice
          = msg
    - else
      .message.danger
        %span.icon-notice
        = msg


.login-container.col-lg-12
  .logo-container
    =image_tag('logo-contrast.png', { :title => 'Aliada'})
  .login-form-wrapper
    .login-form-container
      %h1 ¡Hola de nuevo!
      %p Entra a tu perfil, modifica tus visitas y programa nuevas.
      .login-form.form-control
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            %span.icon.icon-envelope
            = f.email_field :email, autofocus: true, placeholder: 'Correo electrónico'
          .field
            %span.icon.icon-asterisk7
            = f.password_field :password, autocomplete: "off", placeholder: 'Contraseña'
          .recover-password
            = render "devise/shared/links"

          .actions
            = f.submit "Entrar", class: 'action-button-pink'
