.create_aliada_working_hours.col-lg-12
  %div.table-responsive.working_hours_table
    %table.table{id: @object.id, class: "aliada-working-hours"}
      %thead
        %tr
          %th 
          %th 
            = label_tag 'monday', class: :pointer do
              = check_box_tag :value, 1, false, class: 'toggle-checkboxes', id: 'monday'
              Lunes
          %th
            = label_tag 'tuesday', class: :pointer do
              = check_box_tag :value, 1, false, class: 'toggle-checkboxes', id: 'tuesday'
              Martes
          %th
            = label_tag 'wednesday', class: :pointer do
              = check_box_tag :value, 1, false, class: 'toggle-checkboxes', id: 'wednesday'
              Miércoles
          %th 
            = label_tag 'thursday', class: :pointer do
              = check_box_tag :value, 1, false, class: 'toggle-checkboxes', id: 'thursday'
              Jueves
          %th 
            = label_tag 'friday', class: :pointer do
              = check_box_tag :value, 1, false, class: 'toggle-checkboxes', id: 'friday'
              Viernes
          %th 
            = label_tag 'saturday', class: :pointer do
              = check_box_tag :value, 1, false, class: 'toggle-checkboxes', id: 'saturday'
              Sábado
          %th 
            = label_tag 'sunday', class: :pointer do
              = check_box_tag :value, 1, false, class: 'toggle-checkboxes', id: 'sunday'
              Domingo
      %tbody
      - wh = @object.aliada_working_hours
      - (7..21).each do |i|
        %tr 
          %th
            = i.hour.pretty_duration
          %td.monday
            - sel = wh.select{|n| n.weekday == 'monday' && n.hour == i}
            - if not sel.empty?
              = check_box_tag :value, 1, (sel.first.status == "active"), class: (sel.first.status == "active" ? "active-recurrence" : "inactive-recurrence"), id: "monday_#{i}", data: {id: sel.first.id}
            - else
              = check_box_tag :value, 1, false, class: "new-recurrence", id: "monday_#{i}"
          %td.tuesday
            - sel = wh.select{|n| n.weekday == 'tuesday' && n.hour == i}
            - if not sel.empty?
              = check_box_tag :value, 1, (sel.first.status == "active"), class: (sel.first.status == "active" ? "active-recurrence" : "inactive-recurrence"), id: "tuesday_#{i}", data: {id: sel.first.id}
            - else
              = check_box_tag :value, 1, false, class: "new-recurrence", id: "tuesday_#{i}"
          %td.wednesday
            - sel = wh.select{|n| n.weekday == 'wednesday' && n.hour == i}
            - if not sel.empty?
              = check_box_tag :value, 1, (sel.first.status == "active"), class: (sel.first.status == "active" ? "active-recurrence" : "inactive-recurrence"), id: "wednesday_#{i}", data: {id: sel.first.id}
            - else
              = check_box_tag :value, 1, false, class: "new-recurrence", id: "wednesday_#{i}"
          %td.thursday
            - sel = wh.select{|n| n.weekday == 'thursday' && n.hour == i}
            - if not sel.empty?
              = check_box_tag :value, 1, (sel.first.status == "active"), class: (sel.first.status == "active" ? "active-recurrence" : "inactive-recurrence"), id: "thursday_#{i}", data: {id: sel.first.id}
            - else
              = check_box_tag :value, 1, false, class: "new-recurrence", id: "thursday_#{i}"
          %td.friday
            - sel = wh.select{|n| n.weekday == 'friday' && n.hour == i}
            - if not sel.empty?
              = check_box_tag :value, 1, (sel.first.status == "active"), class: (sel.first.status == "active" ? "active-recurrence" : "inactive-recurrence"), id: "friday_#{i}", data: {id: sel.first.id}
            - else
              = check_box_tag :value, 1, false, class: "new-recurrence", id: "friday_#{i}"
          %td.saturday
            - sel = wh.select{|n| n.weekday == 'saturday' && n.hour == i}
            - if not sel.empty?
              = check_box_tag :value, 1, (sel.first.status == "active"), class: (sel.first.status == "active" ? "active-recurrence" : "inactive-recurrence"), id: "saturday_#{i}", data: {id: sel.first.id}
            - else
              = check_box_tag :value, 1, false, class: "new-recurrence", id: "saturday_#{i}"
          %td.sunday
            - sel = wh.select{|n| n.weekday == 'sunday' && n.hour == i}
            - if not sel.empty?
              = check_box_tag :value, 1, (sel.first.status == "active"), class: (sel.first.status == "active" ? "active-recurrence" : "inactive-recurrence"), id: "sunday_#{i}", data: {id: sel.first.id}
            - else
              = check_box_tag :value, 1, false, class: "new-recurrence", id: "sunday_#{i}"

    %br
    = button_tag "Actualizar", class: "centered", onclick: "saveRecurrences();" 
  %br

= javascript_include_tag 'rails_admin/actions/create_aliada_working_hours'
