%div.container
 %div.page-header
  %div#SchedulesApp
:css
  #SchedulesApp td { min-height: 30px; padding: 0 1px; margin: 0; }
  #SchedulesApp td div{ display: block; text-align: center; }
  #SchedulesApp td div span{ display: block; height: 30px; vertical-align: middle;}
  .recurrent.active{ background: rgba(150, 120, 210, 0.5); }
  .one_time.active{ background: rgba(0, 196, 179, 0.5); }
  .padding.active{ background: rgba(234, 240, 241, 1); }
= javascript_include_tag 'https://fb.me/react-0.13.2.js'
= javascript_include_tag 'moment'
= javascript_include_tag 'underscore'
:javascript
  var url_aliada = '/rails_admin/aliada/get_schedule/#{@aliada.id}';
  var begin_time = #{begin_time = 7.hour.to_i};
  var end_time = #{end_time = 20.hour.to_i};

= javascript_include_tag 'rails_admin/actions/build/create_aliada_schedule'