%fieldset.checkboxes.small
  .check-box-container
    = check_box_tag 'Tarjetas'
    %label
      = image_tag('payment-card-unchecked.png', class: :unchecked)
      = image_tag 'check-large.png', class: :checked
      .foot
        %h4
          = "Tarjeta"
        .small-letters
          = "Crédito y Débito"


  .check-box-container
    = check_box_tag 'Paypal'
    %label
      = image_tag('payment-paypal-unchecked.png', class: :unchecked)
      = image_tag 'check-large.png', class: :checked
      .foot
        %h4
          = "Cuenta Paypal"
        .small-letters
          = " "


  .check-box-container.disabled
    = check_box_tag 'Efectivo'
    %label
      = image_tag('payment-cash-disabled.png', class: :unchecked)
      = image_tag 'check-large.png', class: :checked
      .foot
        %h4
          = "Pago en efectivo"
        .small-letters
          = "Muy pronto"