%fieldset.service_types.radio_buttons.large{class: should_hide(@service) ? 'concealed' : ''}
  = form.collection_radio_buttons :service_type_id, ServiceType.visible.ordered.all, :id, :name, { checked: @service.service_type.try(:id) || ServiceType.recurrent.id } do |radio_button_builder|

    - service_type = radio_button_builder.object
    - name = service_type.name
    - button_background = name == 'recurrent' ? 'green' : 'transparent'

    %div{class: "radio-button-container #{name} #{promotional ? '' : 'non-promotional'}"}
      .head
        - if name == 'recurrent' && promotional
          %span.best-value
            %icon.sparks
            MEJOR VALOR
            %icon.sparks
      = label_tag "service_service_type_id_#{service_type.id}", {data: {bind: "from_data: 'service_type'", service_type: service_type.to_json } }  do
        = radio_button_builder.radio_button 

        %span{class: "action-button-#{button_background} size-large"}
          = radio_button_builder.object.display_name

        %ul.benefits
          %li.small-letters
            - if name == 'recurrent'
              %icon.check-active.small
            - else
              %icon.check.small

            $#{service_type.price_per_hour} pesos/hora

          - if promotional
            - service_type.benefits_list.each do |benefit|
              %li.small-letters
                - if name == 'recurrent'
                  %icon.check-active.small
                - else
                  %icon.check.small
                = benefit

