.service-card-wrapper.col-lg-6
  .service-card.one-time
    .head
      .title
        = service.friendly_date.capitalize
        .small-letters
          = service.friendly_time
        .action-link
          = link_to edit_service_users_path(service.user, service, cancelar: true), class: 'small-letters' do
            Cancelar servicio
    .body
      %ul.summary
        %li.checked
          Aliada: #{ service.aliada.name }
        %li.checked
          Pago: #{service.user.payment_provider_name}
        %li.checked
          Dirección: #{service.address.name}
        %li.checked
          Datos de contacto: #{service.user.contact_data}
    .foot
      .actions
        - if current_user.admin?
          .div
            = service.id
          .div
            = service.status_in_spanish
        
        .actions
          = link_to edit_service_users_path(service.user, service), class: 'action-button size-large' do
            %span.icon-pencil.icon-button
            Modificar servicio

      .numbers
        .hours #{ seconds_to_hours_minutes_in_spanish service.estimated_hours_with_extras.hours }
        %span.cash $#{ ceil_and_strip_insignificat_zeros service.cost } 
