%ul.summary
  %li.checked
    Aliada: #{ service.aliada.name }
  %li.checked
    Duración del servicio: #{ humanize_hours service.estimated_hours_with_extras }
  %li.checked
    Pago: : #{@user.payment_provider_name}
  %li.checked
    Dirección : #{service.address.name}
  %li.checked
    Datos de contacto: #{@user.contact_data}

  
