!!!
%html
  %head
    %title 
      = area :title, 'Aliada' 
    %meta{ name: 'description', content: '' }
    %meta{ name: 'keywords', content: '' }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = area :extra_head
  %body
    = area :content
    = yield
    = area :javascript
