!!!
%html
  %head
    %title 
      = area :title, 'Aliada' 
    %meta{ name: 'description', content: '' }
    %meta{ name: 'keywords', content: '' }
    = csrf_meta_tags
    = area :extra_head
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  %body
    = area :content
    = yield
    = area :javascript do
      = render partial: 'common/javascript_variables'
      = javascript_include_tag 'application'
