= extends :application do
  .container.one-column
    .row
      = render partial: 'common/header'

    .row
      = render partial: 'common/inner_navigation'

    .row
      %main
        = yield

= render partial: "common/footer"
