= append(:body_class){ ' one-column ' }

= extends :application do
  .container
    .row
      = render partial: 'common/header'

    .row
      = render partial: 'common/inner_navigation'

    .row 
      = render partial: 'common/messages'

    .row
      %main
        = yield

= render partial: "common/footer"
