= append(:body_class){ ' two-columns ' }

= extends :application do
  .container
    .row
      = render partial: 'common/header'

    .row
      = area :navigation

    .row 
      = render partial: 'common/messages'

    .row
      = yield


= render partial: "common/footer"
