= extends :application do
  .container.two-columns
    .row
      %header
        = render partial: 'common/inner_header'

    .row
      %nav
        = area :navigation

    .row
      %main
        = yield

      %aside
        = area :sidebar
